In [6]:
import pandas as pd
import numpy as np

Creating a series containing numbers as strings, blanks (single or more whitespaces) and NaN values

In [24]:
test = pd.Series(['01' , '2', '23', np.nan, "", "    "])
print(test)

0      01
1       2
2      23
3     NaN
4
5
dtype: object

In [14]:
test2 = pd.Series([1 , 2, '23', np.nan, "", " "])
print(test2)

0      1
1      2
2     23
3    NaN
4
5
dtype: object
test2 dtype is :  object

In [31]:
#both test and test2 are of 'object' dtype
print("test dtype is :", test.dtype)
print("test2 dtype is :", test2.dtype)

# So we have to be careful in dealing with them as they react differently to a similar function applied on them.

test dtype is : object
test2 dtype is : object

In [32]:
## look at .str functions for example
test2.str.strip()
#for the non-string cells, strip will turn to NA

0    NaN
1    NaN
2     23
3    NaN
4
5
dtype: object

## Now back to the `test` Series.

In [10]:
# we can turn blanks to NaN using replace after stripping extra whitespaces
test.str.strip().replace('', np.nan)

0     01
1      2
2     23
3    NaN
4    NaN
5    NaN
dtype: object

In [11]:
# now that we have strings and NaN only -- can turn them into Int64 after converting to float

test.str.strip().replace("", np.nan).astype(float).astype("Int64")

0       1
1       2
2      23
3    <NA>
4    <NA>
5    <NA>
dtype: Int64

> In Conclusion, if the column is only consisted of strings and NaNs -- To correctly convert to numerical values, it's better to use the one-line code above.